
body{
    background-color: aquamarine;
    width: 100%;
}
h2{
    color: brown;
}
.card{
    max-width: 15vw;
}
#contenedortarjetas{
    max-width: 70vw;
    margin-left: 15vw;
}

#Anotar{
    width: 50vw;
    margin-left: 25vw;
    padding: 7vh;
    margin: 2px solid red;
    background-color: orangered;
}